@use '@picocss/pico/scss/pico' with (
	$theme-color: 'blue',
	$parent-selector: '.pico',
	$modules: (
		"content/code": false,
		"forms/input-color": false,
		"forms/input-date": false,
		"forms/input-file": false,
		"forms/input-range": false,
		"forms/input-search": false,
		"components/accordion": false,
		"components/card": false,
		"components/dropdown": false,
		"components/loading": false,
		"components/modal": false,
		"components/nav": false,
		"components/progress": false,
		"utilities/accessibility": false,
		"utilities/reduce-motion": false
	)
);

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main {
	width: 400px;
	height: 580px;
}